@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
@inject UserManager<ApplicationUser> UserManager

<div>
	<a title="welcome">Hello @UserManager.GetUserName(User)!</a>
	<input id="addProducts" type="button" value="Add Products" />
</div>
