@page
@model StationsScheduler.Pages.Core.Schedule.DetailsModel

<div>
    <h4>ProductSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductSchedule.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductSchedule.Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductSchedule.ProductScheduleID">Edit</a> |
    <a asp-page="../Dashboard">Back to List</a>
</div>
